*,html{
    margin: 0;
    padding: 0;
}

.ul_Navbar_Contact{
    background-color: #00ff22;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_Navbar_About{
    background-color: #ff00ee;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_Navbar_Home{
    background-color: #ff0022f3;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li_Navbar{
    font-size: x-large;
    list-style-type: none;
    padding: 1%;
    margin: 2%;
}

.li_Navbar:hover{
    background-color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.3s;
    border-radius: 8px;
}

.a_Navbar{
    color: black;
    text-decoration: none;  
    font-weight: 800;
}

.Content_About{
    background-color: #F5FFFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3%;
    height: 80vh;
}

.Content_Contact{
    background-color: #F5FFFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3%;
    height: 80vh;
}

.Content_Home{
    background-color: #F5FFFA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3%;
    height: 80vh;
}

.a_Content{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    text-decoration: none;
}

.WA_Content{
    width: 30%;
    height: 50%;
}

.IG_Content{
    width: 40%;
    height: 50%;
}

.YT_Content{
    width: 50%;
    height: 80%;
}

.Footer_Contact{
    background-color: #00ff22;
    width: 100%;
    height: 10vh;
}

.Footer_About{
    background-color: #ff00ee;
    width: 100%;
    height: 10vh;
}

.Footer_Home{
    background-color: #ff0022f3;
    width: 100%;
    height: 10vh;
}

.h1_Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

